<h2>Sua senha foi enviada.</h2>

<p>&nbsp;</p>

<p>
  Use este link secreto para compartilhá-lo:
</p>
<span class='input_group'>
    <input id='secret_url' value='<%=@secret_url%>' spellcheck='false' readonly='true'>
    <button id='clipboard-secret-url' class='copy-secret-url' data-clipboard-target='#secret_url'>
        <%= image_tag('button_up.png') %>
    </button>
</span>

<p style="height: 50px"/>

<p>
  Esta senha disponibilizada irá expirar após
<strong><%=@password.expire_after_days%> Dias</strong>
ou
<strong><%=@password.expire_after_views%> Visualizações</strong>
  (o que ocorrer primeiro)

<% if @password.deletable_by_viewer %>
  e <strong>pode ser</strong> excluído pelos visualizadores.
<% else %>
  e <strong>não pode ser</strong> excluído pelos visualizadores.
<% end %>
</p>

<p style="height: 50px"/>

<p>
<%=link_to "Ver a senha agora", @secret_url %> (irá queimar uma visualização) ou <%=link_to "Inserir outra senha", root_path%></p>