<div class="center-content">
<p>Sua senha é ...</p>

<div class='payload spoiler notranslate' id='pass' translate='no'><%=@payload%></div>

<button class='copy-to-clipboard' data-clipboard-target='#pass' id='clipboard-button'>
  Copiar para área de transferência
</button>

<p class='pwinstructions'>
  Obtenha e armazene essa senha com segurança em outro lugar, de preferência em um gerenciador de senhas.
</p>

<p>
<% if @password.views_remaining == 0 %>
    Este link secreto será excluído em <strong><%=pluralize(@password.days_remaining, 'dia(s)')%></strong>
     ou <strong>Mais 0 visualizações</strong> (esta é a última visualização).
<% else %>
    Este link secreto será excluído em <strong><%=pluralize(@password.days_remaining, 'dia(s)')%></strong>
     ou mais <strong><%=pluralize(@password.views_remaining, ' visualizações')%></strong> (o que ocorrer primeiro).
<% end %>
</p>

<% if @password.deletable_by_viewer %>
    <a id="<%=@password.url_token%>"
    data-confirm="Isso irá expirar este link secreto e remover a senha do banco de dados para sempre. Tem certeza?"
    rel="nofollow" data-method="delete"
    href="<%=password_path%>">
    <button class="red-button">Exclua este link secreto agora</button>
    </a>
<% end %>
</div>